{% extends "webshop/base_template.html" %}
{% block title %}Nintendo Game &amp; Watch Shop - {{type}}{% endblock %}
{% block extra-scripts %}
	<script src="/webshop/static/js/jquery.flip.min.js"></script>
	<script type="text/javascript">
		$(function() {
			// Highlight current page in the main navigation
			$( "#navi-home>span" ).addClass( "navi-selected" );
			
			$('a', '#side-navi').attr('href', 'javascript:;');

			// Highlight current page in the side navigation
			$( "#side-navi ul li a>span" ).first().addClass( "side-navi-selected" );

			//$( "a", "#side-navi" ).click( function() {
			//	var me	= this;
			//	$( "#side-navi-arrow" ).hide();
			//	$( me ).append( $( "#side-navi-arrow" ) );
			//	$( "#side-navi-arrow" ).show( "slide", { direction: "left" }, 500 );
			//});
			//
			//$( "a", "#side-navi" ).attr( "href", "javascript:;" );

			$('a[name="'+window.location.hash.substring(1)+'"]').parent().show();
			$('li', '#side-navi').eq((window.location.hash.substring(5) - 1)).append($('#side-navi-arrow'));		
			$('#side-navi-arrow').show("slide", { direction: "left" }, 500);
			
			$('li', '#side-navi').click(function() {
				var me = this;
				
				// Iterate over all links
				$( "#side-navi ul li a>span" ).each( function( index ) {
					$( this ).removeClass( "side-navi-selected" );
				} );
				
				window.location.hash = 'item' + ($(me).index() + 1);
				$('.product').hide();
				$('a[name="'+window.location.hash.substring(1)+'"]').parent().show();
				$( "a>span", me ).addClass( "side-navi-selected" );
				$('#side-navi-arrow').hide("slide", { direction: "left" }, 1000);
				
				$("#main-content").flip({
					direction:'lr',
					color: '#FFFFFF',
					onEnd: function(){
						$(me).append($('#side-navi-arrow'));		
						$('#side-navi-arrow').show("slide", { direction: "left" }, 500);
					}
				});
			});
			
			$('form[class="add-to-cart"]').submit(function() {
				//Your code Here
				
				return false;
			});
			$('.own-star').hover(
					function() {
						var me = this;
						var parent = $(me).parent();
						$(me).attr('src', '/webshop/static/images/star_green.png');
						$(me).prevAll().attr('src', '/webshop/static/images/star_green.png');
						$(me).nextAll().attr('src', '/webshop/static/images/star_grey.png');
					}, function() {}
			);
			$('.own-star').click(function() {
				var me = this;
				var uri = '/webshop/ajax/product/'+$(me).attr('data-type')+'/rating/';
				$.post(uri, { rate : $(me).attr('data-id') }, function(data){
					if (data.error != undefined) {
						alert(data.error)
					} else {
						$(me).parent().attr('data-id', $(me).attr('data-id'));
						var parent = $(me).parent().parent().parent().parent().parent();
						$('.rating-count', parent).html(data.count);
						var stars = "";
						for (i = 0; i < 5; i++) {
							if (i < data.average) {
								stars += '<img src="/webshop/static/images/star_green.png" />';
							} else {
								stars += '<img src="/webshop/static/images/star_grey.png" />';
							}
						}
						//alert($(me).parent().parent().parent().html());
						$('td', $(me).parent().parent().parent()).eq(0).html(stars);
					}
				}, 'json');
			});
			$('.own-rating').hover(
					function() {}, 
					function() {
						var me = this;
						var rate = parseInt($(me).attr('data-id') - 1);
						$('.own-star:gt('+rate+')', me).attr('src', '/webshop/static/images/star_grey.png');
						$('.own-star:lt('+rate+')', me).attr('src', '/webshop/static/images/star_green.png');
						$('.own-star:eq('+rate+')', me).attr('src', '/webshop/static/images/star_green.png');
					}
			);
		});
	</script>
{% endblock %}
{% block page-title %}{{type}}{% endblock %}
{% block sort-bar %}{% endblock %}
{% block content %}
	<div id="side-navi">
		<div id="side-navi-arrow"></div>
		<ul>
			{% for product in type.product_set.all %}
				<li><a href="#item{{forloop.counter}}"><span>{{product.title}}</span></a></li>
			{% endfor %}
		</ul>
	</div>
	<div id="main-content">
		{% load templateargs %}
		{% for product in type.product_set.all %}
			<div class="product">
				<a name="item{{forloop.counter}}"></a>
				<form class="add-to-cart" action="/webshop/urlhere" method="post">
					<input type="hidden" value="{{product.id}}" />
					<input class="add-cart-submit" type="submit" value="Add to cart" />
				</form>
				
				<div class="product-content">
					<h2 class="product-title">{{product.title}}</h2>
					<div class="product-thumb">
						<img src="/webshop/static/{{product.imageThumb}}" />
					</div>
					<div class="product-details">{{product.description}}</div>
				</div>
				<h3 class="product-header">Ratings</h3>
				<table class="rating-table">
					<tr>
						<td><b>Average Rating (<span class="rating-count">{{product.rating_set.count}}</span> rates)</b></td>
						{% if user.is_authenticated %}<td><b>Your Rating</b></td>{% endif %}
					</tr>
					<tr>
						<td>
							{% for i in product.dummylist %}
								{% if i > product.average %}
									<img src="/webshop/static/images/star_grey.png" />
								{% else %}
									<img src="/webshop/static/images/star_green.png" />
								{% endif %}
							{% endfor %}
						</td>
						{% if user.is_authenticated %}
						<td>
							<div class="own-rating" data-id="{{ product|own_rating:user }}">
								{% for i in product.dummylist %}
									{% if i > product|own_rating:user %}
										<img data-id="{{forloop.counter}}" data-type="{{product.id}}" class="own-star" src="/webshop/static/images/star_grey.png" />
									{% else %}
										<img data-id="{{forloop.counter}}" data-type="{{product.id}}" class="own-star" src="/webshop/static/images/star_green.png" />
									{% endif %}
								{% endfor %}
							</div>
						</td>
						{% endif %}
					</tr>
				</table>
				<h3 class="product-header">Comments</h3>
				<div class="comment-wrapper">
					{% for comment in product.filteredcomments %}
						{% if comment.commentsOn = None %}
							<div class="comment-buble first-layer">
								<span class="comment-arrow-green-first"></span>
								<div class="comment-body">{{comment.contents}}</div>
								<div class="comment-date">{{comment.user.username}} - {{comment.published}}</div>
							</div>
						{% else %}
							{% if comment.commentsOn.commentsOn = None %}
								<div class="comment-buble second-layer">
									<span class="comment-arrow-green"></span>
									<div class="comment-body">{{comment.contents}}</div>
									<div class="comment-date">{{comment.user.username}} - {{comment.published}}</div>
								</div>
							{% else %}
								<div class="comment-buble third-layer">
									<span class="comment-arrow-green"></span>
									<div class="comment-body">{{comment.contents}}</div>
									<div class="comment-date">{{comment.user.username}} - {{comment.published}}</div>
								</div>
							{% endif %}
						{% endif%}
						<div> </div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}