{% extends "webshop/base_template.html" %}
{% block title %}Nintendo Game &amp; Watch Shop - Home{% endblock %}
{% block extra-scripts %}
	<script type="text/javascript" src="/webshop/static/js/jquery.quicksand.js"></script>
	<script type="text/javascript">
		$(function() {
			// Highlight current page in the main navigation
			$( "#navi-home>span" ).addClass( "navi-selected" );
			bindThumbs();			
		});
		
		// Custom sorting plugin
		(function($) {
		  $.fn.sorted = function(customOptions) {
		    var options = {
		      reversed: false,
		      by: function(a) { return a.text(); }
		    };
		    $.extend(options, customOptions);
		    $data = $(this);
		    arr = $data.get();
		    arr.sort(function(a, b) {
		      var valA = options.by($(a));
		      var valB = options.by($(b));
		      if (options.reversed) {
		        return (valA < valB) ? 1 : (valA > valB) ? -1 : 0;				
		      } else {		
		        return (valA < valB) ? -1 : (valA > valB) ? 1 : 0;	
		      }
		    });
		    return $(arr);
		  };
		})(jQuery);
	
		// DOMContentLoaded
		$(function() {
	
		  var $filterSort = $('#sort-bar input[name="sort"]');
	
		  // get the first collection
		  var $applications = $('#index-content');
	
		  // clone applications to get a second collection
		  var $data = $applications.clone();
	
		  // attempt to call Quicksand on every form change
		  ($filterSort).change(function(e) {
			  var $filteredData = $data.find('.thumb');
		    // if sorted by size
		    if ($('#sort-bar input[name="sort"]:checked').val() == "size") {
		      var $sortedData = $filteredData.sorted({
		    	reversed: true,
		    	by: function(v) {
		        	return parseFloat($(v).find('span[data-type=size]').text());
		        }
		      });
		    } else {
		      // if sorted by name
		      var $sortedData = $filteredData.sorted({
		        by: function(v) {
		          return $(v).find('.thumb-title').text().toLowerCase();
		        }
		      });
		    }   
	
		    // finally, call quicksand
		    $applications.quicksand($sortedData, {
		      duration: 800
		      //easing: 'swing'
		    }, function() {
		    	bindThumbs();
		    	$('.thumb').not(':nth-child(4n)').css('margin-right', '16px');
		    });  
	
		  });
		});
		function bindThumbs() {
			$('.thumb').hover(
					function() {
						var me = this;
						$('.thumb-info', me).css('height', 'auto');
					}, 
					function() {
						var me = this;
						$('.thumb-info', me).css('height', '25px');
					}
			);
			$('.thumb').click(function() {
				var me = this;
				window.location.href = 'http://' + location.host +'/webshop/home/category/'+$(me).attr('data-id')+'/product#item'+ $(me).attr('id');
			});
		}
	</script>
{% endblock %}
{% block page-title %}Series{% endblock %}
{% block sort-bar %}
	<form id="sort-bar">
		<b>Sort By: </b><input type="radio" name="sort" value="name" checked="checked"/> Name <input type="radio" name="sort" value="size" /> Number of Games 
	</form>
{% endblock %}
{% block content %}
	<div id="index-content">
	{% if types %}
 		{% for type in types %}
 			<a href="category/{{ type.id }}/product#item{{ type.firstproduct }}">
		 		{% if forloop.counter|divisibleby:"4" %}
		 			<div class="thumb thumb-4th" data-id="{{type.id}}" id="{{type.firstproduct}}">
	 			{% else %}
		 			<div class="thumb" data-id="{{type.id}}" id="{{type.firstproduct}}">
	 			{% endif %}
					<img src="/webshop/static/{{type.imageThumb}}" />				
					<div class="thumb-info">
						<p class="thumb-title">{{type}}</p>
						<p class="thumb-body">View all [<span data-type="size">{{type.product_set.count}}</span> items]</p>
					</div>
				</div>
			</a>
 		{% endfor %}
	{% endif %}
	</div>
{% endblock %}