{% extends "webshop/base_template.html" %}
{% block title %}Nintendo Game &amp; Watch Shop - Login{% endblock %}
{% block extra-scripts %}
	<script type="text/javascript">
		$(function() {
			$( "#navi-login>span" ).addClass( "navi-selected" );
		});	
	</script>				
{% endblock %}
{% block page-title %}Login{% endblock %}
{% block sort-bar %}{% endblock %}
{% block content %}
	<div id="side-navi">
	</div>
	<div id="main-content">
		<form class="login-form" action="{% url webshop.views.login %}" method="post">
			{{ form.errors }}
			{% csrf_token %}
			<div style="display: none;"><input type="hidden" name="next" value="{{ next }}" /></div>
			{{ form.as_p }}			
			<input type="submit" value="Login" />
		</form>
	</div>
{% endblock %}