{% extends "webshop/base_template.html" %}
{% block title %}Nintendo Game &amp; Watch Shop - Login{% endblock %}
{% block extra-scripts %}
	<script type="text/javascript">
		$( function() {
			// Highlight current page in the main navigation
			$( "#navi-login>span" ).addClass( "navi-selected" );

			// Focus to the first input field
			$( "#id_username" ).focus();
			
			// Validate the form
			$( "#login-form" ).validate( {
				rules: {
					"username": {
						required: true,
						maxlength: 30
					},
					"password": {
						required: true,
						maxlength: 128
					}
				},
				messages: {
					"username": {
						required: "Username is required."
					},
					"password": {
						required: "Password is required."
					}
				}
			} );
		} );	
	</script>				
{% endblock %}
{% block page-title %}Login{% endblock %}
{% block sort-bar %}{% endblock %}
{% block content %}
	<div id="side-navi">
	</div>
	<div id="main-content">
		<h3>Login</h3>
		<form id="login-form" class="form" action="" method="post">
			{# Show validation errors #}
			{% if form.errors %}
				<div class="messages validation">
					<ul class="messages-list-validation">
						{% for key,value in form.errors.items %}
							{% for error in value %}<li>{{ error }}</li>{% endfor %} 
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			{% load messages %}
			{% render_messages messages %}
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}" />
			<table>
				<tbody>
					{% for field in form %}
						<tr>
							<th>
								<label for="{{ field.auto_id }}">
									{% if field.field.required %}
										<span class="required">{{ field.label }}:</span>
									{% else %}
										{{ field.label }}:
									{% endif %}
								</label>
							</th>
							<td>{{ field }}</td>
						</tr>
					{% endfor %}
					<tr>
						<th>&nbsp;</th>
						<td><input type="submit" value="Login" /></td>
					</tr>
					<tr>
						<th>&nbsp;</th>
						<td><a href="{% url webshop.views.request_new_password %}">Forgot your password?</a></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
{% endblock %}