<!-- TODO: 	Fix static urls
		Add payment information 
-->
	
<!DOCTYPE html>
<html>
  <head>
      <title>Confirm Payment</title>
  </head>
  <body>
     <div id="page">
      <div id="header">

          <h1>Confirm Payment</h1>
      </div>
      <div id="content">

<p>By pressing confirm button you will be redirectend to a netbank</p>
<form action="http://webcourse.cs.hut.fi/payment/pay/" method="POST">
  <input id="id_pid" type="hidden" name="pid" value="mytestsale" />
  <input id="id_sid" type="hidden" name="sid" value="tester" />
  <input type="hidden" name="amount" value="15" id="id_amount" />
  <input id="id_success_url" type="hidden" name="success_url" value="http://localhost:8888/webshop/payment/success" />
  <input id="id_cancel_url" type="hidden" name="cancel_url" value="http://localhost:8888/webshop/payment/cancel" />
  <input id="id_error_url" type="hidden" name="error_url" value="http://localhost:8888/webshop/payment/error" />
  <input type="hidden" name="checksum" value="ddbafef64cb0ee30a07c208a0b9d3fc1" id="id_checksum" />
<!--<input name="dev" type="hidden" id="id_dev"/><label for="id_dev">dev</label> -->

<input type="submit" value="Confirm" />
</form>

      </div>
    </div>
  </body>
</html>
          
