{% extends "webshop/base_template.html" %}
{% block title %}Nintendo Game &amp; Watch Shop - Register{% endblock %}
{% block extra-scripts %}
	<script type="text/javascript">
		$(function() {
			$( "#navi-register>span" ).addClass( "navi-selected" );
		});	
	</script>				
{% endblock %}
{% block page-title %}Register{% endblock %}
{% block sort-bar %}{% endblock %}
{% block content %}
	<div id="side-navi">
	</div>
	<div id="main-content">
		<form class="register-form" action="{% url webshop.views.register %}" method="post">
			{{ userCreationForm.errors }}
			{% csrf_token %}
			{{ userCreationForm.as_p }}
			<input type="submit" value="Register" />
		</form>
	</div>
{% endblock %}