{% extends "webshop/base_template.html" %}
{% block title %}Nintendo Game &amp; Watch Shop - Password Reset - Password Reset Complete{% endblock %}
{% block extra-scripts %}{% endblock %}
{% block page-title %}Password Reset{% endblock %}
{% block sort-bar %}{% endblock %}
{% block content %}
	<div id="side-navi">
	</div>
	<div id="main-content">
		<h3>Password Reset Complete</h3>
		<p>Your password has been set. You may go ahead and <a href="{% url webshop.views.login %}">login</a> now.</p>
	</div>
{% endblock %}