{% extends "webshop/base_template.html" %}
{% block title %}Nintendo Game &amp; Watch Shop - Password Reset - New Password Requested{% endblock %}
{% block extra-scripts %}{% endblock %}
{% block page-title %}Password Reset{% endblock %}
{% block sort-bar %}{% endblock %}
{% block content %}
	<div id="side-navi">
	</div>
	<div id="main-content">
		<h3>New Password Requested</h3>
		<p>We have e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.</p>
	</div>
{% endblock %}