{% extends "webshop/base_template.html" %}
{% block title %}Nintendo Game &amp; Watch Shop - Profile{% endblock %}
{% block extra-scripts %}
	<script type="text/javascript" src="/webshop/static/js/jquery.validate.min.js"></script>
	<script type="text/javascript">
		$( function() {
			$( "#navi-account>span" ).addClass( "navi-selected" );
			
			$( "#profile-form" ).validate( {
				rules: {
					"first_name": {
						required: true,
						maxlength: 30
					},
					"last_name": {
						required: true,
						maxlength: 30
					},
					"email": {
						required: true,
						email: true,
						maxlength: 128
					}
				},
				messages: {
					"first_name": {
						required: "First name is required."
					},
					"last_name": {
						required: "Last name is required."
					},
					"email": {
						required: "E-mail address is required.",
						email: "Please enter a valid e-mail address."
		            }
				}
			} );
		} );	
	</script>				
{% endblock %}
{% block page-title %}Profile{% endblock %}
{% block sort-bar %}{% endblock %}
{% block content %}
	<div id="side-navi">
	</div>
	<div id="main-content">
		<h3>Profile</h3>
		<form id="profile-form" class="form" action="{% url webshop.views.account %}" method="post">
			{# Show validation errors #}
			{% if form.errors %}
				<div class="messages validation">
					<ul class="messages-list-validation">
						{% for key,value in form.errors.items %}
							{% for error in value %}<li>{{ error }}</li>{% endfor %} 
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			{% load messages %}
			{% render_messages messages %}
			{% csrf_token %}
			<table>
				{% for field in form %}
					<tr>
						<th>
							<label for="{{ field.auto_id }}">
								{% if field.field.required %}
									<span class="required">{{ field.label }}</span>
								{% else %}
									{{ field.label }}
								{% endif %}
							</label>
						</th>
						<td>{{ field }}</td>
					</tr>
				{% endfor %}
				<tr>
					<th>&nbsp;</th>
					<td><input type="submit" value="Save" /></td>
				</tr>
			</table>
		</form>
	</div>
{% endblock %}