<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/webshop/static/css/style.css?{% now "U" %}" />
		<script type="text/javascript" src="/webshop/static/js/modernizr-1.5.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/webshop/static/js/jquery.validate.min.js"></script>
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% block extra-scripts %}{% endblock %}
		<script type="text/javascript">
			$(function() {
				$('#search-button').click(function(){
					window.location.href = 'http://' + location.host +'/webshop/home/search?q=' + $('#search-input').val();
				});
				$('#search-input').focusin(function() {
					$(this).val('');
				});
				var tags;
				$.getJSON('/webshop/ajax/products', function(data) {
					tags = data;
					$( "#search-input" ).autocomplete({
		       			source: tags,
		       			minLength: 2,
		       			focus: function( event, ui ) {
		    				$( "#search-input" ).val( ui.item.label );
		    				return false;
		    			},
		    			select: function( event, ui ) {
		    				$( "#search-input" ).val( ui.item.label );
							window.location.href  = 'http://' + location.host +'/webshop/home/category/'+ui.item.type+'/product#item'+ui.item.id;
		    				return false;
		    			}
		       		});
				});
	       		
			});	
		</script>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="logo">
					<a href="{% url webshop.views.home %}"><img src="/webshop/static/images/ngws_logo.png" /></a>
				</div>
				<div id="navi">
					<ul>
						<li><a id="navi-home" href="{% url webshop.views.home %}"><span>home</span></a></li>
						{% if user.is_authenticated %}
							<li><a id="navi-myaccount" href="{% url webshop.views.account_details %}"><span>my account</span></a></li>
							{% if user.is_staff %}
								<li><a id="navi-admin" href="{% url webshop.views.admin_paid_orders %}"><span>admin</span></a></li>
							{% endif %}
							<li><a id="navi-logout" href="{% url webshop.views.logout %}"><span>logout</span></a></li>
						{% else %}
							<li><a id="navi-register" href="{% url webshop.views.register %}"><span>register</span></a></li>
							<li><a id="navi-login" href="{% url webshop.views.login %}"><span>login</span></a></li>
						{% endif %}	
						<li><a id="navi-cart" href="{% url webshop.views.cart %}"><span>cart (<span id="cart-span">{% if request.session.numberOfCartItems %}{{ request.session.numberOfCartItems }}{% else %}0{% endif %}</span>)</span></a></li>
					</ul>
				</div>
				<div id="search-bar">
					<form action="/webshop/home/search" method="get"><input id="search-input" value="Search" name="q"/><input type="button" id="search-button" value="&nbsp;"/><input type="submit" id="search-submit" value="&nbsp;"/></form>
				</div>
				<h3 id="page-title">{% block page-title %}{% endblock %}</h3>
				{% block sort-bar %}{% endblock %}
			</div>
			<div id="content">
				{% block content %}{% endblock %}
			</div>
			<div id="footer">
				<div id="footer-navi">
					<ul>
						<li><a id="footer-navi-about" href="{% url webshop.views.about %}"><span>about</span></a></li>
						<li><a id="footer-navi-credits" href="{% url webshop.views.credits %}"><span>credits</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>