{% extends "webshop/base_template.html" %}
{% block title %}Nintendo Game &amp; Watch Shop - {{type}}{% endblock %}
{% block extra-scripts %}
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
	<script src="/webshop/static/js/jquery.flip.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$( "#navi-home>span" ).addClass( "navi-selected" );
			
			$('a', '#side-navi').attr('href', 'javascript:;');
			
			$('a[name="'+window.location.hash.substring(1, 6)+'"]').parent().show();
			$('li', '#side-navi').eq((window.location.hash.substring(5, 6) - 1)).append($('#side-navi-arrow'));		
			$('#side-navi-arrow').show("slide", { direction: "left" }, 500);
			
			$('li', '#side-navi').click(function() {
				var me = this;
				window.location.hash = 'item' + ($(me).index() + 1);
				$('.product').hide();
				$('a[name="'+window.location.hash.substring(1, 6)+'"]').parent().show();
				$('#side-navi-arrow').hide("slide", { direction: "left" }, 1000);
				
				$("#main-content").flip({
					direction:'lr',
					color: '#FFFFFF',
					onEnd: function(){
						$(me).append($('#side-navi-arrow'));		
						$('#side-navi-arrow').show("slide", { direction: "left" }, 500);
					}
				});
			});
			
			$('form[class="add-to-cart"]').submit(function() {
				//Your code Here
				
				return false;
			});
			$('.own-star').hover(
					function() {
						var me = this;
						var parent = $(me).parent();
						$(me).attr('src', '/webshop/static/images/star_green.png');
						$(me).prevAll().attr('src', '/webshop/static/images/star_green.png');
						$(me).nextAll().attr('src', '/webshop/static/images/star_grey.png');
					}, function() {}
			);
			$('.own-star').click(function() {
				var me = this;
				$(me).parent().attr('data-id', $(me).attr('data-id'));
			});
			$('.own-rating').hover(
					function() {}, 
					function() {
						var me = this;
						var rate = parseInt($(me).attr('data-id') - 1);
						$('.own-star:gt('+rate+')', me).attr('src', '/webshop/static/images/star_grey.png');
						$('.own-star:lt('+rate+')', me).attr('src', '/webshop/static/images/star_green.png');
						$('.own-star:eq('+rate+')', me).attr('src', '/webshop/static/images/star_green.png');
					}
			);
		});
	</script>
{% endblock %}
{% block page-title %}{{type}}{% endblock %}
{% block sort-bar %}{% endblock %}
{% block content %}
	<div id="side-navi">
		<h4 class="side-navi-header">Products</h4>
		<div id="side-navi-arrow"></div>
		<ul>
			{% for product in type.product_set.all %}
				<li><a href="#item{{forloop.counter}}">{{product.title}}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div id="main-content">
		{% for product in type.product_set.all %}
			<div class="product">
				<a name="item{{forloop.counter}}"></a>
				<form class="add-to-cart" action="/webshop/urlhere" method="post">
					<input type="hidden" value="{{product.id}}" />
					<input class="add-cart-submit" type="submit" value="Add to cart" />
				</form>
				<h1 class="product-title">{{product.title}}</h1>
				<div class="product-content">
					<div class="product-thumb">
						<img src="/webshop/static/{{product.imageThumb}}" />
					</div>
					<div class="product-details">{{product.description}}</div>
				</div>
				<h3 class="product-header">Ratings</h3>
				<table class="rating-table">
					<tr>
						<td><b>Average Rating ({{product.rating_set.count}} rates)</b></td>
						<td><b>Your Rating</b></td>
					</tr>
					<tr>
						<td>
							{% for i in product.dummylist %}
								{% if i > product.average %}
									<img src="/webshop/static/images/star_grey.png" />
								{% else %}
									<img src="/webshop/static/images/star_green.png" />
								{% endif %}
							{% endfor %}
						</td>
						<td>
							<div class="own-rating" data-id="2">
								{% for i in product.dummylist %}
									{% if i > 2 %}
										<img data-id="{{forloop.counter}}" class="own-star" src="/webshop/static/images/star_grey.png" />
									{% else %}
										<img data-id="{{forloop.counter}}" class="own-star" src="/webshop/static/images/star_green.png" />
									{% endif %}
								{% endfor %}
							</div>
						</td>
					</tr>
				</table>
				<h3 class="product-header">Comments</h3>
				<div class="comment-wrapper">
					{% for comment in product.filteredcomments %}
						{% if comment.commentsOn = None %}
							<div class="comment-buble first-layer">
								<span class="comment-arrow-green-first"></span>
								<div class="comment-body">{{comment.contents}}</div>
								<div class="comment-date">{{comment.user.username}} - {{comment.published}}</div>
							</div>
						{% else %}
							{% if comment.commentsOn.commentsOn = None %}
								<div class="comment-buble second-layer">
									<span class="comment-arrow-green"></span>
									<div class="comment-body">{{comment.contents}}</div>
									<div class="comment-date">{{comment.user.username}} - {{comment.published}}</div>
								</div>
							{% else %}
								<div class="comment-buble third-layer">
									<span class="comment-arrow-green"></span>
									<div class="comment-body">{{comment.contents}}</div>
									<div class="comment-date">{{comment.user.username}} - {{comment.published}}</div>
								</div>
							{% endif %}
						{% endif%}
						<div> </div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}