{% extends "webshop/base_template.html" %}
{% block title %}Nintendo Game &amp; Watch Shop - {{type}}{% endblock %}
{% block extra-scripts %}
	<script src="/webshop/static/js/jquery.flip.min.js"></script>
	<script type="text/javascript">
		$(function() {
			//Add Statistics
			addView(window.location.hash.substring(5));
			// Highlight current page in the main navigation
			$( "#navi-home>span" ).addClass( "navi-selected" );
			
			$('a', '#side-navi').attr('href', 'javascript:;');

			// Highlight current page in the side navigation
			$( "#side-navi ul li a>span" ).first().addClass( "side-navi-selected" );

			//$( "a", "#side-navi" ).click( function() {
			//	var me	= this;
			//	$( "#side-navi-arrow" ).hide();
			//	$( me ).append( $( "#side-navi-arrow" ) );
			//	$( "#side-navi-arrow" ).show( "slide", { direction: "left" }, 500 );
			//});
			//
			//$( "a", "#side-navi" ).attr( "href", "javascript:;" );

			$('a[name="'+window.location.hash.substring(1)+'"]').parent().show();
			$('li', '#side-navi').eq((window.location.hash.substring(5) - 1)).append($('#side-navi-arrow'));		
			$('#side-navi-arrow').show("slide", { direction: "left" }, 500);
			
			$('li', '#side-navi').click(function() {
				var me = this;
				
				// Iterate over all links
				$( "#side-navi ul li a>span" ).each( function( index ) {
					$( this ).removeClass( "side-navi-selected" );
				} );
				
				window.location.hash = 'item' + $(me).attr('data-id');
				
				$('.product').hide();
				$('a[name="'+window.location.hash.substring(1)+'"]').parent().show();
				$( "a>span", me ).addClass( "side-navi-selected" );
				$('#side-navi-arrow').hide("slide", { direction: "left" }, 1000);
				
				$("#main-content").flip({
					direction:'lr',
					color: '#FFFFFF',
					onEnd: function(){
						$(me).append($('#side-navi-arrow'));		
						$('#side-navi-arrow').show("slide", { direction: "left" }, 500);
					}
				});
				//Add Statistics
				addView(window.location.hash.substring(5));
			});
			
			$('form[class="add-to-cart"]').submit(function() {
				//Your code Here
				
				return false;
			});
			$('.own-star').hover(
					function() {
						var me = this;
						var parent = $(me).parent();
						$(me).attr('src', '/webshop/static/images/star_green.png');
						$(me).prevAll().attr('src', '/webshop/static/images/star_green.png');
						$(me).nextAll().attr('src', '/webshop/static/images/star_grey.png');
					}, function() {}
			);
			$('.own-star').click(function() {
				var me = this;
				var uri = '/webshop/ajax/product/'+$(me).attr('data-type')+'/rating/';
				$.post(uri, { rate : $(me).attr('data-id') }, function(data) {
					if (data.error != undefined) {
						alert(data.error)
					} else {
						$(me).parent().attr('data-id', $(me).attr('data-id'));
						var parent = $(me).parent().parent().parent().parent().parent();
						$('.rating-count', parent).html(data.count);
						var stars = "";
						for (i = 0; i < 5; i++) {
							if (i < data.average) {
								stars += '<img src="/webshop/static/images/star_green.png" />';
							} else {
								stars += '<img src="/webshop/static/images/star_grey.png" />';
							}
						}
						//alert($(me).parent().parent().parent().html());
						$('td', $(me).parent().parent().parent()).eq(0).html(stars);
					}
				}, 'json');
			});
			$('.own-rating').hover(
					function() {}, 
					function() {
						var me = this;
						var rate = parseInt($(me).attr('data-id') - 1);
						if (rate < 0) {
							$('.own-star', me).attr('src', '/webshop/static/images/star_grey.png');
						} else {
							$('.own-star:gt('+rate+')', me).attr('src', '/webshop/static/images/star_grey.png');
							$('.own-star:lt('+rate+')', me).attr('src', '/webshop/static/images/star_green.png');
							$('.own-star:eq('+rate+')', me).attr('src', '/webshop/static/images/star_green.png');
						}
					}
			);
			bindComments();
		});
		function bindComments() {
			$('.add-comment-toggle').unbind();
			$('.add-comment-toggle-first').unbind();
			$('.add-comment-toggle-second').unbind();
			$('.delete-comment').unbind();
			$('form[class="add-comment-form"]').unbind();
			$('form[class="add-comment-form-first"]').unbind();
			$('form[class="add-comment-form-second"]').unbind();
			$('.add-comment-toggle').click(function(){
				$('.add-comment-form', $(this).parent()).toggle('slow');
			});
			$('.add-comment-toggle-first').click(function(){
				$('.add-comment-form-first', $(this).parent()).toggle('slow');
			});
			$('.add-comment-toggle-second').click(function(){
				$('.add-comment-form-second', $(this).parent()).toggle('slow');
			});
			$('.delete-comment').click(function(){
				var me = this;
				var commentid = $(me).parent().parent().attr('data-type');
				var on = $(me).parent().parent().attr('data-id');
				var isFirst = $(me).parent().parent().hasClass('first-layer');
				var uri = '/webshop/ajax/comment/'+commentid+'/delete/';
				$.post(uri, function(data) {
					if (data.error) {
						alert(data.error);
					} else {
						$(me).parent().parent().remove();
						if ($('.comment-buble[data-id='+on+']').size() == 0 && (isFirst == false || isFirst == 'false')) {
							$('.comment-date', '.comment-buble[data-type='+on+']').append('<input class="delete-comment" type="button" value="Delete" />');
							bindComments();
						}
					}
				}, 'json');
			});
			$('form[class="add-comment-form"]').submit(function() {
				var me = this;
				var uri = $(me).attr('action');
				var comment = $('textarea', me).val();
				var commentsOn = $('input[name=commentsOn]').val();
				var product = $('input[name=product-id]').val();
				if (comment != '') {
					$.post(uri, { comment : comment, commentsOn : commentsOn }, function(data) {
						if (data.error != undefined) {
							alert(data.error)
						} else {
							var result = '<div class="comment-buble first-layer" data-id="'+data.commentsOn+'" data-type="'+data.id+'">';
							result += '<span class="comment-arrow-green-first"></span>';
							result += '<div class="comment-body">'+comment+'</div>';
							result += '<div class="comment-date">'+data.user+' - '+data.published;
							result += '<input class="add-comment-toggle-first" type="button" value="Reply" /><form class="add-comment-form-first" action="'+uri+'" method="post"><input type="hidden" value="'+product+'" /><input type="hidden" name="commentsOn" value="'+data.id+'" /><b>Comment:</b><br /><textarea class="comment-textarea" name="comment"></textarea><br /><input class="add-comment-submit-first" type="submit" value="Send" /></form>'
							if (data.admin) {
								result += '<input class="delete-comment" type="button" value="Delete" />';
							}
							result +='</div>';
							result += '</div>';
							$(me).parent().append(result);
							$('textarea', me).val('');
							$(me).toggle('slow');
							bindComments();
						}
					}, 'json');
				}
				
				return false;
			});
			
			$('form[class="add-comment-form-first"]').submit(function() {
				
				var me = this;
				var uri = $(me).attr('action');
				var comment = $('textarea', me).val();
				var commentsOn = $('input[name=commentsOn]', me).val();
				var product = $('input[name=product-id]', me).val();
				var par = $(me).parent().parent();
				var parindex = $('.first-layer').index(par) + 1;
				if (comment != '') {
					$.post(uri, { comment : comment, commentsOn : commentsOn }, function(data) {
						if (data.error != undefined) {
							alert(data.error)
						} else {
							var result = '<div class="comment-buble second-layer" data-id="'+data.commentsOn+'" data-type="'+data.id+'">';
							result += '<span class="comment-arrow-green"></span>';
							result += '<div class="comment-body">'+comment+'</div>';
							result += '<div class="comment-date">'+data.user+' - '+data.published;
							result += '<input class="add-comment-toggle-second" type="button" value="Reply" /><form class="add-comment-form-second" action="'+uri+'" method="post"><input type="hidden" value="'+product+'" /><input type="hidden" name="commentsOn" value="'+data.id+'" /><b>Comment:</b><br /><textarea class="comment-textarea" name="comment"></textarea><br /><input class="add-comment-submit-second" type="submit" value="Send" /></form>';
							if (data.admin) {
								result += '<input class="delete-comment" type="button" value="Delete" />';
							}
							result += '</div>';
							result += '</div>';
							var bubble = $('.first-layer[data-type="'+data.commentsOn+'"]').eq(0);
							if ($('.first-layer[data-type="'+data.commentsOn+'"]').eq(0).attr('data-type') == $('.first-layer', $(bubble).parent()).last().attr('data-type')) {
								$(bubble).parent().append(result);
							} else if($('.first-layer[data-type="'+data.commentsOn+'"]').eq(0).attr('data-type') == $('.first-layer', $(bubble).parent()).first().attr('data-type')) {
								$(par).siblings('.first-layer').eq(0).before(result);
							} else {
								var temp = $('.first-layer').get(parindex);
								$(temp).before(result);
							}
							$('textarea', me).val('');
							$(me).toggle('slow');
							$('.delete-comment', '.first-layer[data-type='+data.commentsOn+']').remove();
							bindComments();
						}
					}, 'json');
				}
				
				return false;
			});
			
			$('form[class="add-comment-form-second"]').submit(function() {
				var me = this;
				var uri = $(me).attr('action');
				var comment = $('textarea', me).val();
				var commentsOn = $('input[name=commentsOn]', me).val();
				var product = $('input[name=product-id]', me).val();
				var par = $(me).parent().parent();
				var parindex = $('.second-layer').index(par) + 1;
				if (comment != '') {
					$.post(uri, { comment : comment, commentsOn : commentsOn }, function(data) {
						if (data.error != undefined) {
							alert(data.error)
						} else {
							var result = '<div class="comment-buble third-layer" data-id="'+data.commentsOn+'" data-type="'+data.id+'">';
							result += '<span class="comment-arrow-green"></span>';
							result += '<div class="comment-body">'+comment+'</div>';
							result += '<div class="comment-date">'+data.user+' - '+data.published;
							if (data.admin) {
								result += '<input class="delete-comment" type="button" value="Delete" />';
							}
							result +='</div>';
							result += '</div>';
							var bubble = $('.second-layer[data-type="'+data.commentsOn+'"]').eq(0);
							if ($('.second-layer[data-type="'+data.commentsOn+'"]').eq(0).attr('data-type') == $('.second-layer', $(bubble).parent()).last().attr('data-type')) {
								$(bubble).parent().append(result);
							} else if($('.second-layer[data-type="'+data.commentsOn+'"]').eq(0).attr('data-type') == $('.second-layer', $(bubble).parent()).first().attr('data-type')) {
								var tempindex = $('.comment-buble').not('.third-layer').index(par) + 1;
								var temp = $('.comment-buble').not('.third-layer').get(tempindex);
								$(temp).before(result);
							} else {
								var tempindex = $('.comment-buble').not('.third-layer').index(par) + 1;
								var temp = $('.comment-buble').not('.third-layer').get(tempindex);
								$(temp).before(result);
							}
							$('textarea', me).val('');
							$(me).toggle('slow');
							$('.delete-comment', '.second-layer[data-type='+data.commentsOn+']').remove();
							bindComments();
						}
					}, 'json');
				}
				
				return false;
			});
		};
		function addView(id) {
			var posturi = '/webshop/ajax/product/'+id+'/view/';
			$.post(posturi)
		};
	</script>
{% endblock %}
{% block page-title %}{{type}}{% endblock %}
{% block sort-bar %}{% endblock %}
{% block content %}
	<div id="side-navi">
		<div id="side-navi-arrow"></div>
		<ul>
			{% for product in type.product_set.all %}
				<li data-id="{{product.id}}"><a href="#item{{product.id}}"><span>{{product.title}}</span></a></li>
			{% endfor %}
		</ul>
	</div>
	<div id="main-content">
		{% load templateargs %}
		{% for product in type.product_set.all %}
			<div class="product">
				<a name="item{{product.id}}"></a>
				<form class="add-to-cart" action="/webshop/urlhere" method="post">
					<input type="hidden" name="product_id" value="{{product.saleitems}}" />
					<input class="add-cart-submit" type="submit" value="Add to cart" />
				</form>
				
				<div class="product-content">
					<h2 class="product-title">{{product.title}}</h2>
					<div class="product-thumb">
						<img src="/webshop/static/{{product.imageThumb}}" />
					</div>
					<div class="product-details">{{product.description}}</div>
					<div class="product-info">
						<span class="info-span">Date of release: {{product.dateOfRelease}}</span>
						<span class="info-span">Amount produced: {{product.produced}}</span>
						<span class="info-span">Rarity: {{product.rarity}}</span>
					</div>
					<div class="product-sale">
						<span class="sale-span">Price: {{product.saleitem.getPriceInEuros}}</span>
					</div>
				</div>
				<h3 class="product-header">Ratings</h3>
				<table class="rating-table">
					<tr>
						<td><b>Average Rating (<span class="rating-count">{{product.rating_set.count}}</span> rates)</b></td>
						{% if user.is_authenticated %}<td><b>Your Rating</b></td>{% endif %}
					</tr>
					<tr>
						<td>
							{% for i in product.dummylist %}
								{% if i > product.average %}
									<img src="/webshop/static/images/star_grey.png" />
								{% else %}
									<img src="/webshop/static/images/star_green.png" />
								{% endif %}
							{% endfor %}
						</td>
						{% if user.is_authenticated %}
						<td>
							<div class="own-rating" data-id="{{ product|own_rating:user }}">
								{% for i in product.dummylist %}
									{% if i > product|own_rating:user %}
										<img data-id="{{forloop.counter}}" data-type="{{product.id}}" class="own-star" src="/webshop/static/images/star_grey.png" />
									{% else %}
										<img data-id="{{forloop.counter}}" data-type="{{product.id}}" class="own-star" src="/webshop/static/images/star_green.png" />
									{% endif %}
								{% endfor %}
							</div>
						</td>
						{% endif %}
					</tr>
				</table>
				<h3 class="product-header">Comments</h3>
				<div class="comment-wrapper">
					{% if user.is_authenticated %}
					<input class="add-comment-toggle" type="button" value="Add comment" />
					<form class="add-comment-form" action="/webshop/ajax/product/{{product.id}}/comment/" method="post">
						<input type="hidden" name="product-id" value="{{product.id}}" />
						<input type="hidden" name="commentsOn" value="None" />
						<b>Comment:</b><br />
						<textarea class="comment-textarea" name="comment"></textarea><br />
						<input class="add-comment-submit" type="submit" value="Send" />
					</form>
					{% endif %}
					{% for comment in product.filteredcomments %}
						{% if comment.commentsOn = None %}
							<div class="comment-buble first-layer" data-id="None" data-type="{{comment.id}}">
								<span class="comment-arrow-green-first"></span>
								<div class="comment-body">{{comment.contents}}</div>
								<div class="comment-date">{{comment.user.username}} - {{comment.published}}
									{% if user.is_authenticated %}
									<input class="add-comment-toggle-first" type="button" value="Reply" />
									<form class="add-comment-form-first" action="/webshop/ajax/product/{{product.id}}/comment/" method="post">
										<input type="hidden" name="product-id" value="{{product.id}}" />
										<input type="hidden" name="commentsOn" value="{{comment.id}}" />
										<b>Comment:</b><br />
										<textarea class="comment-textarea" name="comment"></textarea><br />
										<input class="add-comment-submit-first" type="submit" value="Send" />
									</form>
									{% endif %}
									{% if user.is_staff %}
										{% if comment.haschild == 0 %}
											<input class="delete-comment" type="button" value="Delete" />
										{% endif %}
									{% endif %}
								</div>
							</div>
						{% else %}
							{% if comment.commentsOn.commentsOn = None %}
								<div class="comment-buble second-layer" data-id="{{comment.commentsOn.id}}" data-type="{{comment.id}}">
									<span class="comment-arrow-green"></span>
									<div class="comment-body">{{comment.contents}}</div>
									<div class="comment-date">{{comment.user.username}} - {{comment.published}}
										{% if user.is_authenticated %}
										<input class="add-comment-toggle-second" type="button" value="Reply" />
										<form class="add-comment-form-second" action="/webshop/ajax/product/{{product.id}}/comment/" method="post">
											<input type="hidden" name="product-id" value="{{product.id}}" />
											<input type="hidden" name="commentsOn" value="{{comment.id}}" />
											<b>Comment:</b><br />
											<textarea class="comment-textarea" name="comment"></textarea><br />
											<input class="add-comment-submit-second" type="submit" value="Send" />
										</form>
										{% endif %}
										{% if user.is_staff %}
											{% if comment.haschild == 0 %}
												<input class="delete-comment" type="button" value="Delete" />
											{% endif %}
										{% endif %}
									</div>
								</div>
							{% else %}
								<div class="comment-buble third-layer" data-id="{{comment.commentsOn.id}}" data-type="{{comment.id}}">
									<span class="comment-arrow-green"></span>
									<div class="comment-body">{{comment.contents}}</div>
									<div class="comment-date">{{comment.user.username}} - {{comment.published}}
										{% if user.is_staff %}
											{% if comment.haschild == 0 %}
												<input class="delete-comment" type="button" value="Delete" />
											{% endif %}
										{% endif %}
									</div>
								</div>
							{% endif %}
						{% endif%}
						<div> </div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
