<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Web Shop</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<script src="/static/modernizr-1.5.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="wrapper">
			{{ errorMessage }}
			<form method="post" action="{% url webshop.views.login %}">
				{% csrf_token %}
				username:
				<input type="text" name="username" value="{{ username }}" /><br />
				password:
				<input type="password" name="password" value="" /><br />
				{% if next %}
					<input type="hidden" name="next" value="{{ next }}" />
				{% endif %}
				<input type="submit" value="Log In" />

<!--				{% csrf_token %}-->
<!--				<table>-->
<!--					<tr>-->
<!--					    <td>{{ form.username.label_tag }}</td>-->
<!--					    <td>{{ form.username }}</td>-->
<!--					</tr>-->
<!--					<tr>-->
<!--					    <td>{{ form.password.label_tag }}</td>-->
<!--					    <td>{{ form.password }}</td>-->
<!--					</tr>-->
<!--				</table>-->
<!--				<input type="submit" value="login" />-->
<!--				<input type="hidden" name="next" value="{{ next }}" />-->
			</form>
<!--	<form>-->
<!--		<input placeholder="username" name="username" required="required" />-->
<!--		<input placeholder="password" name="password" type="password" required="required" />-->
<!--		<input type="button" value="Login" />-->
<!--	</form>-->
	</div>
</body>
</html>