body {

}

img {
	border: none;
}

h1, h2, h3 {
	color: #666666;
}

input:focus {
    outline: none;
}


#wrapper {
	width: 960px;
	margin: 0 auto;
}

#header {
	padding-top: 40px;
	height: 100px;
	padding-bottom: 0px;
	position: relative;
	border-bottom: 1px solid #999999;
}

#navi {
	position: absolute;
	top: 50px;
	left: 250px;
	width: 370px;
	height: 32px;
	line-height: 32px;
}

#navi a {
	color: #999999;
	text-decoration: none;
	margin-right: 15px;
}

#navi a.navi-selected {
	color: #339900;
	text-decoration: underline;
}

#cart-link {
	background: url(../images/cart.png) 0 -3px no-repeat scroll;
	padding-left: 35px;
	height: 32px;
	line-height: 32px;
	position: absolute;
	right: 0px;
	top: 0px;
}

#page-title {
	position: absolute;
	bottom: 2px;
	left: 0px;
	padding: 0;
	margin: 0;
}

#sort-bar {
	position: absolute;
	bottom: 2px;
	right: 0px;
	padding: 0;
	margin: 0;
	color: #666666;
}

#search-bar {
	border: 1px solid #339900;
	position: absolute;
	top: 52px;
	right: 0px;
	width: 300px;
	height: 21px;
}

#search-input {
	height: 20px;
	border: none;
	margin: 0;
	padding: 0;
	width: 275px;
	color: #999999;
	padding-left: 5px;
}

#search-button {
	height: 20px;
	border: none;
	margin: 0;
	padding: 0;
	width: 20px;
	background: url(../images/search.png);
	cursor: pointer;
}

.ui-autocomplete {
	margin-top:1px;
	margin-left: -2px;
	padding:0;
	width: 280px;
	z-index: 1002;	
}

.ui-menu-item {
	padding-left: 5px;
	list-style-type: none;
	background: #339900;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
	z-index: 1002;
}

.ui-corner-all {
	text-decoration: underline;
	cursor: pointer;
}

#content {
	padding: 12px 0 0px;
	overflow-y: auto;
	overflow-x: hidden;
}

.thumb {
	border: 2px solid #999999;
	padding: 2px;
	width: 220px;
	height: 220px;
	display: inline-block;
	margin-bottom: 16px;
	position: relative;
	cursor: pointer;
	margin-right: 12px;
}

.thumb:nth-of-type(4n) {
	margin-right: 0px;
}

.thumb-info {
	position: absolute;
	z-index: 0.5;
	bottom: 2px;
	left: 2px;
	background: #339900;
	/*opacity: 0.8;*/
	color: #FFFFFF;
	width: 200px;
	padding: 5px 10px 0;
	overflow: hidden;
	height: 25px;
}

.no-js .thumb-info {
	height: auto;
}

.thumb-title {
	padding: 0;
	margin: 0;
	font-weight: bold;
}

.thumb-body {
	padding: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

.padding {
	width: 8px;
	height: 228px;
	display: inline-block;
}

#main-content {	
	border: 1px solid #339900;
	width: 690px;
	float: right;
	min-height: 500px;
	margin-bottom: 12px;
}

.product-title {
	margin-left: 10px;
	display: none;
}

.no-js .product-title {
	display: block;
}

.product-content {
	padding: 10px;
	float: left;
	width: 99%;
}

.product-thumb {
	border: 2px solid #999999;
	padding: 2px;
	width: 220px;
	height: 220px;
	float: left;
	margin-bottom: 12px;
}

.product-details {
	display: inline;
	color: #999999;
	padding: 2px;
	height: 220px;
	width: 400px;
	margin-bottom: 12px;
	float: right;
}

.product-header {
	float: left;
	width: 95%;
	border-bottom: 1px solid #999999;
	margin-left: 20px;
}

#side-navi {
	min-height: 500px;
	height: 100%;
	display: inline-block;
	margin-right: 20px;
	background: #339900;
	color: #FFFFFF;
	margin-bottom: 12px;
	width: 240px;
}

.side-navi-header {
	text-align: center;
}

#side-navi ul {
	margin:0;
	padding: 0;
	border-bottom: 1px solid #FFFFFF;
}

#side-navi li {
	list-style-type: none;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #FFFFFF;
	position: relative;
	text-align: center;
	cursor: pointer;
}

#side-navi-arrow {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #339900;
	border-right: 20px solid transparent;
	position: absolute;
	top: 0;
	right: -40px;
}

#side-navi a {
	color: #FFFFFF;
}

#footer {
	padding-bottom: 40px;
	height: 100px;
	padding-top: 0px;
	position: relative;
	border-top: 1px solid #999999;
}

#footer-navi {
	position: absolute;
	top: 5px;
	right: 0px;
}

#footer-navi a {
	color: #999999;
	text-decoration: none;
	margin-left: 20px;
}

#forgot-password {
	cursor: pointer;
	text-decoration: underline;
	font-weight: bold;
}

#get-password-div {
	display: none;
}

.product {
	display: none;
	position: relative;
}

#side-navi-arrow {
	display: none;
}

.no-js .product {
	display: block;
}

#login-link {
	z-index: 2;
	position: relative;
}

#login-bubble {
	position: absolute;
	bottom: -105px;
	left: 60px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 3px solid #339900;
	color: #339900;
	padding: 5px;
	z-index: 1;
	background: #FFFFFF;
	display: none;
}

#login-bubble p {
	margin: 0;
	padding:0;
}

#login-bubble p.top-para {
	padding-bottom: 5px;
	border-bottom: 1px solid #339900;
}

#login-bubble p.bottom-para {
	padding-top: 5px;
}

#login-input, #password-input {
	border: none;
	color: #339900;
}

#login-send {
	height: 40px;
	width: 40px;
	color: #FFFFFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 5px solid #FFFFFF;
	background-color: #339900;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 3px;
	padding-left: 8px;
	position: absolute;
	top: 21px;
	right: 5px;
	cursor: pointer;
}

#login-arrow-green {
	height: 0px;
	width: 0px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid #339900;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
	top: -40px;
	left: 55px;
}

#login-arrow-white {
	height: 0px;
	width: 0px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid #FFFFFF;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
	top: -36px;
	left: 55px;
}

.add-to-cart {
	position: absolute;
	top: 5px;
	right: 5px;
}

.add-cart-submit {
	background: #FFFFFF url(../images/add_to_cart.png) 0 0 no-repeat scroll;
	width: 120px;
	height: 38px;
	line-height: 38px;
	padding-left: 36px;
	color: #339900;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 3px solid #339900;
	cursor: pointer;
}