/* BEGIN: common */
html {
	overflow-y: scroll;
}
body {
}
img {
	border: none;
}
h1, h2, h3 {
	color: #666666;
}
input:focus {
    outline: none;
}
input[ readonly ] {
	border: none;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
}
a {
	color: #339900;
}
.bold {
	font-weight: bold;
}
/* END: common */



/* BEGIN: header */
#header {
	border-bottom: 1px solid #999999;
	height: 100px;
	padding-bottom: 0px;
	padding-top: 40px;
	position: relative;
}
/* END: header */


/* BEGIN: logo */
#logo {
	float: left;
}
/* END: logo */


/* BEGIN: navi */
#navi {
	background: transparent;
	float: left;
	margin-top: 20px;
	margin-left: 122px;
}
#navi ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}
#navi ul li {
	display: inline;
	margin: 0px 15px 0px 0px;
	padding: 0;
	position: relative;
}
#navi ul li a {
	background-color: transparent;
	color:#999999;
	display: inline;
	margin: 0;
	padding: 10px 0px 10px 0px;
	text-align: center;
	text-decoration: none;
}
#navi ul li a:hover>span, #navi ul li a>span.navi-selected {	
	border-top: 3px solid #339900;
	padding-top: 2px;
}
#navi-cart {
	background-image: url( "../images/cart.png" );
	background-repeat: no-repeat;
}
#navi-cart>span {
	margin-left: 35px;
}
/* END: navi */


/* BEGIN: search */
#search-bar {
	background: transparent;
	border: 1px solid #339900;
	float: right;
	margin-top: 18px;
	position: relative;
}
#search-input {
	border: none;
	border-right: 1px solid #999999;
	color: #999999;
	height: 16px;
	margin: 4px 26px 4px 0px;
	padding: 0px 4px 0px 4px;
	width: 275px;
}
#search-button {
	cursor: pointer;
	background-color: #FFFFFF;
	background-image: url( "../images/search.png" );
	background-repeat: no-repeat;
	border: none;
	height: 13px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 7px;
	top: 7px;
	width: 12px;
}
/* END: search */


/* BEGIN: heading */
#page-title {
	clear: both;
	float: left;
	margin-bottom: 0px;
	margin-top: 35px;
}
#sort-bar {
	float: right;
	margin-top: 35px;
	padding: 0;
	color: #666666;
}
/* END: heading */


/* BEGIN: side navi */
#side-navi {
	background: #339900;
	float: left;
	height: 100%;
	margin-bottom: 12px;
	margin-right: 20px;
	padding: 0px;
	min-height: 500px;
	width: 240px;
}
#side-navi ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}
#side-navi ul li {
	line-height: 44px;
	margin: 0;
	padding: 0;
	position: relative;
}
#side-navi ul li a {
	background-color: transparent;
	border-bottom: 1px solid #FFFFFF;
	color:#FFFFFF;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
}
#side-navi ul li a:hover, #side-navi ul li a:focus {
	background-color: transparent;
	border-bottom: 1px solid #FFFFFF;
}
#side-navi ul li a:hover>span, #side-navi ul li a>span.side-navi-selected {	
	border-top: 3px solid #FFFFFF;
	padding-top: 2px;
}
#side-navi-arrow {
	border-bottom: 22px solid transparent;
	border-left: 22px solid #339900;
	border-right: 22px solid transparent;
	border-top: 22px solid transparent;
	color: #FF9000;
	display: none;
	position: absolute;
	right: -44px;
	top: 0;
}
/* END: side navi */


/* BEGIN: content */
#content {
	clear: both;
	padding: 14px 0px 0px 0px;
}
#main-content {	
	border: 1px solid #339900;
	float: right;
	margin-bottom: 12px;
	min-height: 480px;
	padding: 10px;
	width: 670px;
}
#main-content h3 {
	color: #339900;
	margin-bottom: 25px;
	margin-top: 0px;
}
/* END: content */


/* BEGIN: messages */
.messages {
}
.messages ul {
    list-style: none;
    margin: 10px 0px;
    padding-left: 0px;
}
.messages ul li {
    padding: 0.1em;
}
.messages.info,
.messages.success,
.messages.warning,
.messages.error,
.messages.validation {
	align: left;
	background-position: 5px 5px;
	background-repeat: no-repeat;
	border: 2px solid;
	margin: 10px 0px;
	min-height: 30px;
	padding: 0px 0px 0px 50px;
	text-align: left;
}
.messages.info {
	background-color: #CDEAF7;
	background-image: url( "../images/info.png" );
	border-color: #789FCC;
	color: #00529B;
}
.messages.success {
	background-color: #E6EFC2;
	background-image:url( "../images/success.png" );
	border-color: #C6D880;
	color: #264409;
}
.messages.warning {
	background-color: #FFF6BF;
	background-image: url( "../images/warning.png" );
	border-color: #FFD324;
	color: #514721;
}
.messages.error, .messages.validation {
	background-color: #FBE3E4;
	background-image: url( "../images/error.png" );
	border-color: #FBC2C4;
	color: #8A1F11;
}
/* END: messages */


/* BEGIN: form */
/* Label cell */
.form th {
	text-align: left;
	vertical-align: top;
}
/* Label */
.form label {
	color: #666666;
	margin-right: 10px;
}
/* Required after label */
.form label span.required:after {
	color: #F43232;
	content: " *";
}
/* Error input */
.form input.error {
    background-color: #FBE3E4;
    border: 1px solid #FBC2C4;
    padding: 2px;
    height: 16px;
}
/* Error message after input */
.form label.error {
	color: #F43232;
	display: block;
    padding-bottom: 10px;
    padding-top: 4px;	
}
/* END: form */


/* BEGIN: footer */
#footer {
	border-top: 1px solid #999999;
	clear: both;
	padding-bottom: 60px;
	padding-top: 0px;
}
#footer-navi {
	background: transparent;
	float: right;
	margin-top: 10px;
}
#footer-navi ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}
#footer-navi ul li {
	display: inline;
	margin: 0px 0px 0px 15px;
	padding: 0;
	position: relative;
}
#footer-navi ul li a {
	background-color: transparent;
	color:#999999;
	display: inline;
	margin: 0;
	padding: 10px 0px 10px 0px;
	text-align: center;
	text-decoration: none;
}
#footer-navi ul li a:hover>span, #footer-navi ul li a>span.footer-navi-selected {	
	border-top: 3px solid #339900;
	padding-top: 2px;
}
/* END: footer */


/* BEGIN: home */
.thumb {
	border: 2px solid #999999;
	padding: 2px;
	width: 220px;
	height: 220px;
	display: inline-block;
	margin-bottom: 16px;
	position: relative;
	cursor: pointer;
	margin-right: 12px;
}
.thumb:nth-of-type(4n) {
	margin-right: 0px;
}
.thumb-info {
	position: absolute;
	z-index: 0.5;
	bottom: 2px;
	left: 2px;
	background: #339900;
	opacity: 0.8;
	color: #FFFFFF;
	width: 200px;
	padding: 5px 10px 0;
	overflow: hidden;
	height: 25px;
}
.no-js .thumb-info {
	height: auto;
}
.thumb-title {
	padding: 0;
	margin: 0;
	font-weight: bold;
}
.thumb-body {
	padding: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}
/* END: home */


/* BEGIN: my account */
#address-book-table {
	border-collapse: collapse;
	width: 100%;
}
#address-book-table td {
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	padding: 10px 0px 10px 0px;
}
#address-book-table ul {
	list-style: none;
	margin: 0;
	padding: 0px 0px 4px 0px;
	text-indent: 0;	
}
#address-book-table thead th {
	font-weight: normal;
	padding-bottom: 4px;
	text-align: left;
}
#address-book-table a.add {
	background-image: url( "../images/add2.png" );
	background-repeat: no-repeat;
	padding-left: 20px;
}
#address-book-table .inline-form {
	display: inline;
}
#address-book-delete-table ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;	
}
#completed-orders-table, #completed-orders-table table {
	border-collapse: collapse;
	width: 100%;
}
#completed-orders-table td.order {
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	padding: 10px 0px 10px 0px;
}
#completed-orders-table ul {
	list-style: none;
	margin: 0;
	padding: 0px 0px 4px 0px;
	text-indent: 0;	
}
/* END: my account */


/* BEGIN: random/uncleaned */
.ui-autocomplete {
	margin-top:1px;
	margin-left: -2px;
	padding:0;
	width: 280px;
	z-index: 1002;	
}
.ui-menu-item {
	padding-left: 5px;
	list-style-type: none;
	background: #339900;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
	z-index: 1002;
}
.ui-corner-all {
	text-decoration: underline;
	cursor: pointer;
}
.padding {
	width: 8px;
	height: 228px;
	display: inline-block;
}
.product-title {
	margin-left: 10px;
	display: none;
}
.no-js .product-title {
	display: block;
}
.product-content {
	padding: 10px;
	float: left;
	width: 99%;
}
.product-thumb {
	border: 2px solid #999999;
	padding: 2px;
	width: 220px;
	height: 220px;
	float: left;
	margin-bottom: 12px;
}
.product-details {
	display: inline;
	color: #999999;
	padding: 2px;
	height: 220px;
	width: 400px;
	margin-bottom: 12px;
	float: right;
}
.product-header {
	float: left;
	width: 95%;
	border-bottom: 1px solid #999999;
	margin-left: 20px;
}
.errorlist {
	display: none;
}
.rating-table {
	float: left;
	width: 95%;
	margin-left: 20px;
	color: #999999;
}
.own-star {
	cursor: pointer;
}
.comment-wrapper {
	float: left;
	width: 95%;
	margin-left: 20px;
	color: #999999;
}
.comment-buble {
	background: #339900;
	padding: 10px;
	color: #FFFFFF;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 20px;
	position: relative;
}
.comment-body {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #FFFFFF;
}
.comment-date {
	text-align: right;
	font-style: italic;
	font-size: 12px;
}
.comment-arrow-green {
	height: 0px;
	width: 0px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid #339900;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	top: -20px;
	left: 25px;
}
.comment-arrow-green-first {
	height: 0px;
	width: 0px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid #339900;
	position: absolute;
	top: 20px;
	left: -20px;
}
.second-layer {
	margin-left: 40px;
}
.third-layer {
	margin-left: 80px;
}
.product {
	display: none;
	position: relative;
}
.no-js .product {
	display: block;
}
.add-to-cart {
	position: absolute;
	top: 5px;
	right: 5px;
}
.add-cart-submit {
	background: #FFFFFF url(../images/add_to_cart.png) 0 0 no-repeat scroll;
	width: 120px;
	height: 38px;
	line-height: 38px;
	padding-left: 36px;
	color: #339900;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 3px solid #339900;
	cursor: pointer;
}
.clearfix {
  clear: both;
  font-size: 1px;
}
/* END: random/uncleaned */