<!-- Add static payment information -->

{% extends "webshop/base_template.html" %}
{% block title %}Nintendo Game &amp; Watch Shop - Password Reset - Password Reset Complete{% endblock %}
{% block extra-scripts %}{% endblock %}
{% block page-title %}Password Reset{% endblock %}
{% block sort-bar %}{% endblock %}
{% block content %}
	<div id="side-navi">
	</div>
	<div id="main-content">
		<h3>Confirm order</h3>
		<p>Please press the confirm button and you will be redirectend to a netbank in order to pay the order</p>
		<form action="http://webcourse.cs.hut.fi/payment/pay/" method="POST">
		  <input id="id_pid" type="hidden" name="pid" value="{{ pid }}" />
		  <input id="id_sid" type="hidden" name="sid" value="{{ sid }}" />
		  <input id="id_amount" type="hidden" name="amount" value="{{ amount }}" />
		  <input id="id_success_url" type="hidden" name="success_url" value="{{ success_url }}" />
		  <input id="id_cancel_url" type="hidden" name="cancel_url" value="{{ cancel_url }}" />
		  <input id="id_error_url" type="hidden" name="error_url" value="{{ error_url }}" />
		  <input type="hidden" name="checksum" value="{{ checksum }}" id="id_checksum" />
		  <input name="dev" type="hidden" value="fail"id="id_dev"/>		
		<input type="submit" value="Confirm" />
		</form>
	</div>
{% endblock %}

          
