{% extends "webshop/base_template.html" %}
{% block title %}Nintendo Game &amp; Watch Shop - Password Reset - Password Reset Complete{% endblock %}
{% block extra-scripts %}{% endblock %}
{% block page-title %}Password Reset{% endblock %}
{% block sort-bar %}{% endblock %}
{% block content %}
	<div id="side-navi">
	</div>
	<div id="main-content">
		<h3>Paying completed</h3>
		<p>You have successfully paid your order. The order will be processed and send to your address.</p>
		<p>Thanks you!</p>
	</div>
{% endblock %}

