{% extends "webshop/base_template.html" %}
{% block title %}Nintendo Game &amp; Watch Shop - My Account - Account Details{% endblock %}
{% block extra-scripts %}
	<script type="text/javascript">
		$( function() {
			$( "#navi-myaccount>span" ).addClass( "navi-selected" );

			$( "#side-navi-myaccount-account-details>span" ).addClass( "side-navi-selected" );
			$( "#side-navi-myaccount-account-details" ).parent().append( $( "#side-navi-arrow" ) );		
			$( "#side-navi-arrow" ).show( "slide", { direction: "left" }, 500 );

			$( "#id_first_name" ).focus();

			$( "#account-details-form" ).validate( {
				rules: {
					"first_name": {
						required: true,
						maxlength: 30
					},
					"last_name": {
						required: true,
						maxlength: 30
					},
					"email": {
						required: true,
						email: true,
						maxlength: 128
					}
				},
				messages: {
					"first_name": {
						required: "First name is required."
					},
					"last_name": {
						required: "Last name is required."
					},
					"email": {
						required: "E-mail address is required.",
						email: "Please enter a valid e-mail address."
		            }
				}
			} );
		} );	
	</script>				
{% endblock %}
{% block page-title %}My Account{% endblock %}
{% block sort-bar %}{% endblock %}
{% block content %}
	<div id="side-navi">
		{% include "webshop/myaccount/side_navi_template.html" %}
	</div>
	<div id="main-content">
		<h3>Edit Account Details</h3>
		<form id="account-details-form" class="form" action="" method="post">
			{# Show validation errors #}
			{% if form.errors %}
				<div class="messages validation">
					<ul class="messages-list-validation">
						{% for key,value in form.errors.items %}
							{% for error in value %}<li>{{ error }}</li>{% endfor %} 
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			{% load messages %}
			{% render_messages messages %}
			{% csrf_token %}
			<table>
				<tbody>
					{% for field in form %}
						<tr>
							<th>
								<label for="{{ field.auto_id }}">
									{% if field.field.required %}
										<span class="required">{{ field.label }}:</span>
									{% else %}
										{{ field.label }}:
									{% endif %}
								</label>
							</th>
							<td>{{ field }}</td>
						</tr>
					{% endfor %}
					<tr>
						<th>&nbsp;</th>
						<td><input type="submit" value="Update account details" /></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
{% endblock %}