{% extends "webshop/base_template.html" %}
{% block title %}Nintendo Game &amp; Watch Shop - My Account - Completed Orders{% endblock %}
{% block extra-scripts %}
	<script type="text/javascript">
		$( function() {
			$( "#navi-myaccount>span" ).addClass( "navi-selected" );

			$( "#side-navi-myaccount-completed-orders>span" ).addClass( "side-navi-selected" );
			$( "#side-navi-myaccount-completed-orders" ).parent().append( $( "#side-navi-arrow" ) );		
			$( "#side-navi-arrow" ).show( "slide", { direction: "left" }, 500 );
		} );
	</script>				
{% endblock %}
{% block page-title %}My Account{% endblock %}
{% block sort-bar %}{% endblock %}
{% block content %}
	<div id="side-navi">
		{% include "webshop/myaccount/side_navi_template.html" %}
	</div>
	<div id="main-content">
		<h3>Completed Orders</h3>
		{% load messages %}
		{% render_messages messages %}
		{% if orders|length == 0 %}
			<p>You have no completed orders.</p>
		{% else %}
			<table id="completed-orders-table">
				<tbody>
					{% for order in orders %}
						<tr>
							<td class="order">
								<table class="order-information-table">
									<tr>
										<td class="label bold">Order number:</td>
										<td>{{ order.id }}</td>
									</tr>
									<tr>
										<td class="label">Placed on:</td>
										<td>{{ order.date }}</td>
									</tr>
									<tr>
										<td class="label">Status:</td>
										<td>
											{% if order.delivered %}
												paid &amp; delivered
											{% else %}
												paid, waiting to be delivered
											{% endif %}
										</td>
									</tr>
								</table>
								<table class="order-items-table">
									<thead>
										<tr>
											<th class="text-left">Quantity / Product</th>
											<th class="text-right">Unit Price</th>
											<th class="text-right">Price</th>
										</tr>
									</thead>
									<tbody>
										{% for orderItem in order.getOrderItems %}
										<tr>
											<td class="text-left">{{ orderItem.quantity }} x {{ orderItem.saleItem.product.title }} | {{ orderItem.saleItem.product.type }}</td>
											<td class="text-right">{{ orderItem.saleItem.getPriceInEuros }}</td>
											<td class="text-right">{{ orderItem.getPriceInEuros }}</td>
										</tr>
										{% endfor %}
										<tr>
											<td class="text-right subtotal" colspan="2">Subtotal:</td>
											<td class="text-right subtotal">{{ order.getSubtotalInEuros }}</td>
										</tr>
										<tr>
											<td class="text-right" colspan="2">Shipping ({{ order.shippingMethod.name }}):</td>
											<td class="text-right">{{ order.shippingMethod.getPriceInEuros }}</td>
										</tr>
										<tr>
											<td class="text-right bold" colspan="2">Total:</td>
											<td class="text-right bold">{{ order.getTotalInEuros }}</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
{% endblock %}