{% extends "webshop/base_template.html" %}
{% block title %}Nintendo Game &amp; Watch Shop - My Account - Completed Orders{% endblock %}
{% block extra-scripts %}
	<script type="text/javascript">
		$( function() {
			$( "#navi-myaccount>span" ).addClass( "navi-selected" );

			$( "#side-navi-myaccount-completed-orders>span" ).addClass( "side-navi-selected" );
			$( "#side-navi-myaccount-completed-orders" ).parent().append( $( "#side-navi-arrow" ) );		
			$( "#side-navi-arrow" ).show( "slide", { direction: "left" }, 500 );
		} );
	</script>				
{% endblock %}
{% block page-title %}My Account{% endblock %}
{% block sort-bar %}{% endblock %}
{% block content %}
	<div id="side-navi">
		{% include "webshop/myaccount/side_navi_template.html" %}
	</div>
	<div id="main-content">
		<h3>Completed Orders</h3>
		{% load messages %}
		{% render_messages messages %}
		{% if orders|length == 0 %}
			<p>You have no completed orders.</p>
		{% else %}
			<table id="completed-orders-table">
				<tbody>
					{% for order in orders %}
						<tr>
							<td class="order">
								<table>
									{% for order_item in order.order_items %}
									<tr>
										<td align="right">{{ order_item.quantity }} x</td>
										<td align="left">{{ order_item.saleItem.product.title }} ({{ order_item.saleItem.product.type }})</td>
										<td align="right">{{ order_item.saleItem.price }} &euro;</td>
									</tr>
									{% endfor %}
									<tr>
										<td style="padding-top: 5px;" colspan="2" align="right">Subtotal:</td>
										<td style="padding-top: 5px;" align="right">1000 &euro;</td>
									</tr>
									<tr>
										<td colspan="2" align="right">Shipping ({{ order.shippingMethod.name }}):</td>
										<td align="right">{{ order.shippingMethod.price }} &euro;</td>
									</tr>
									<tr>
										<td class="bold" colspan="2" align="right">Total:</td>
										<td class="bold" align="right">1020 &euro;</td>
									</tr>
								</table>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
{% endblock %}