<div id="side-navi-arrow"></div>
<ul>
	<li><a id="side-navi-myaccount-account-details" href="{% url webshop.views.account_details %}"><span>account details</span></a></li>
	<li><a id="side-navi-myaccount-change-password" href="{% url webshop.views.change_password %}"><span>change password</span></a></li>
	<li><a id="side-navi-myaccount-address-book" href="{% url webshop.views.address_book %}"><span>address book</span></a></li>
	<li><a id="side-navi-myaccount-completed-orders" href="{% url webshop.views.completed_orders %}"><span>completed orders</span></a></li>
</ul>